<!DOCTYPE html>
<html>

<head>
    <title>OpenClassrooms invoice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
        .container {
            width: 60vw;
        }
    </style>
</head>

<%def name="make_table(label, session_list)">
<h2>${ label }</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Name
            </th>
            <th>
                Level
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        % for sess in session_list:
        <tr>
            <td>
                ${ sess.session_date.strftime("%a %d %b %Y @ %H:%M") }
            </td>
            <td>
                ${ sess.student.name }
            </td>
            <td>
                ${ sess.level }
            </td>
            <td>
                ${ sess.price }
            </td>
        </tr>
        % endfor
    </tbody>
</table>
</%def>

<body>
    <div class="container">
        <h1>Invoice for month ${ month }</h1>
        <%
            total = 0
        %>
        % for label, session_list in sessions.items():
            % if len(session_list):

                ${ make_table(label, session_list) }
                <%
                    subtotal = sum([s.price for s in session_list])
                    num_sessions = len(session_list)
                    unit_price = session_list[0].price

                    total = total + subtotal
                %>
                <h4 class="text-right">SUBTOTAL: ${ num_sessions } x ${ unit_price } = ${ subtotal }</h4>
                <hr>
            % endif
        % endfor
        % if len(af_students):
            <h2>AF BONUS</h2>
            <ul>
                % for student in af_students:
                <li>${ student.name }</li>
                % endfor
            </ul>
            <% subtotal = len(af_students) * 30 %>
            <h4 class="text-right">SUBTOTAL: ${ len(af_students) } x 30 = ${ subtotal }</h4>
            <% total = total + subtotal %>
            <hr>
        %endif
        <h1 class="text-right">TOTAL: ${ total }</h1>
        <hr>
        ${ make_table("No charge", no_charge) }
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>

</html>