{% from "invoice.j2" import make_html_table as make_table, total %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>OpenClassrooms invoice</title>
</head>
<body>
    <div class="container">
        <a href="prev.html">Previous month</a>
        {% if to_complete %}
        <h1>Sessions to complete</h1>
        {{ make_table("", to_complete) }}
        {% endif %}
        <h1>Invoice for month {{ month }}</h1>
        {% for label, session_list in sessions.items() %}
            {% if session_list|length %}
                {{ make_table(label, session_list) }}
                {% set subtotal = session_list | sum(attribute="price") %}
                {% set total.value = total.value + subtotal %}
                <h4 class="text-right">SUBTOTAL: {{ session_list|length }} x {{ session_list.0.price | round2dec }} = {{ subtotal | round2dec }}</h4>
                <hr>
            {% endif %}
        {% endfor %}
        {% if af_students | length %}
            <h2>AF BONUS</h2>
            <ul>
                {% for student in af_students %}
                <li>{{ student.name }}</li>
                {% endfor %}
            </ul>
            {% set subtotal = af_students|length * 30 %}
            <h4 class="text-right">SUBTOTAL: {{ af_students|length }} x 30 = {{ subtotal | round2dec }}</h4>
            {% set total.value = total.value + subtotal %}
            <hr>
        {% endif %}
        <h1 class="text-right">TOTAL: {{ total.value | round2dec }}</h1>
        <hr>
        {{ make_table("No charge", no_charge) }}
        <footer>{% include "footer.j2" %}</footer>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>

</html>